@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  font-style: normal;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  width: auto;
  padding: 0;
  margin: 0 auto;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
